@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100 min-h-screen;
    overflow-y: scroll; /* Prevent layout shift */
  }
}

/* h1 {
  @apply text-[3.815rem] font-medium text-gray-900;
}
h2 {
  @apply text-[2.488rem] font-medium ;
}

h3 {
  @apply text-[2.074rem] font-semibold ;
}
h4 {
  @apply text-[1.953rem] font-semibold ;
}
h5 {
  @apply text-[1.44rem] font-semibold ;
}
h6 {
  @apply text-[1.2rem] font-semibold ;
}

p {
  @apply text-base text-gray-600;
} */

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  
  .scrollbar-thumb-gray-300::-webkit-scrollbar {
    height: 6px;
  }
  
  .scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
    background-color: #A3A3A3;
    border-radius: 3px;
  }
  
  .dark .scrollbar-thumb-gray-600::-webkit-scrollbar-thumb {
    background-color: #525252;
  }
}
